* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #0A0A1F;
  --secundary-color: #EAEAEA;
  --tertiary-color: #3A7DFF;
  --hover-color: #1A1A3F;

  --primary-font: "Poppins", sans-serif;
  --secundary-font: "Lato", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  color: var(--secundary-color);
  background-color: var(--primary-color);
  justify-content: space-between;
  margin: auto;
}

.cabecalho__menu {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 32px;

  font-family: var(--secundary-font);
  font-weight: 600;
  font-size: 2rem;
}

.cabecalho__menu__link {
  text-decoration: none;
  color: var(--tertiary-color);
  transition: color 0.3s ease;
}

.cabecalho__menu__link:hover {
  color: var(--secundary-color);
}

.apresentacao__descricao__titulo--destaque {
  color: var(--tertiary-color);
}

.apresentacao {
  box-sizing: border-box;
  margin: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apresentacao__descricao {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 1rem;
}

.apresentacao__descricao__titulo {
  font-family: var(--primary-font);
  font-size: 2rem;
}

.apresentacao__descricao__paragrafo {
  font-family: var(--secundary-font);
  font-size: 1rem;
}

.apresentacao__buttons__subtitulo {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 1rem;
}

.apresentacao__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  justify-content: space-between;
}

.apresentacao__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-family: var(--secundary-font);
  font-weight: 600;
  font-size: 1rem;

  width: 50%;
  color: var(--secundary-color);
  padding: 21.5px 0;
  border: 2px solid var(--tertiary-color);

  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.apresentacao__button:hover {
  background-color: var(--hover-color);
}

.apresentacao__foto-perfil {
  width: 25%;
  margin-right: 1rem;
  border-radius: 50%;
  border: 4px solid var(--tertiary-color);
}

.rodape {
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  text-align: center;

  padding: 1rem;

  font-family: var(--secundary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
}

@media (max-width: 1400px) {
  body {
    gap: 32px;
  }

  .apresentacao {
    flex-direction: column-reverse;
    min-width: 300px;
    max-width: 700px;
    gap: 32px;
    margin: auto;
  }

  .apresentacao__descricao {
    width: 100%;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    margin: auto;
  }

  .apresentacao__descricao__titulo {
    font-family: var(--primary-font);
    font-size: 1.2rem;
  }

  .apresentacao__descricao__paragrafo {
    font-family: var(--secundary-font);
    font-size: 1rem;
  }

  .apresentacao__buttons__subtitulo {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 1rem;
  }

  .apresentacao__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .apresentacao__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-family: var(--secundary-font);
    font-weight: 600;
    font-size: 1rem;

    width: 100%;
    color: var(--secundary-color);
    padding: 12px 0;
    border: 2px solid var(--tertiary-color);

    border-radius: 8px;
    text-decoration: none;
  }

  .apresentacao__foto-perfil {
    width: 50%;
    margin: auto;
  }
}

@media (max-width: 800px) {
  .cabecalho__menu {
    gap: 40px;

    font-size: 1.5rem;
  }

  .apresentacao {
    flex-direction: column-reverse;
    width: 70vw;
    min-width: 300px;
    gap: 32px;
    margin: 0 auto;
  }

}
